In [1]:
import pandas as pd

In [3]:
df = pd.read_excel('OPENING AND CLOSING FIRST ROUND 2021.xlsx', index_col=False, skiprows=3)

In [6]:
df.head()

1,1,"Acropolis Institute of Technology & Research,\nIndore (2005)",private,Y,CE,126610,320078,FW/OP,3
2,2,"Acropolis Institute of Technology & Research,\...",private,N,CE,676677,676677,ST/X/OP,1
3,3,"Acropolis Institute of Technology & Research,\...",private,N,CE,816499,816499,EWS,1
4,4,"Acropolis Institute of Technology & Research,\...",private,N,CE,320548,839774,OBC/X/OP,6
5,5,"Acropolis Institute of Technology & Research,\...",private,N,CE,216879,841392,UR/X/OP,32
6,6,"Acropolis Institute of Technology & Research,\...",private,Y,CSE,54152,109044,FW/OP,12

In [8]:
k=df['FW/OP'].unique()

In [10]:
k.tolist()

['ST/X/OP',
 'EWS',
 'OBC/X/OP',
 'UR/X/OP',
 'FW/OP',
 'SC/X/OP',
 'ST/X/F',
 'OBC/X/F',
 'UR/X/F',
 'SC/X/F',
 'JKR',
 'OBC/H/OP',
 'UR/H/OP',
 'JKM',
 'UR/S/OP',
 'OBC/S/F',
 'OBC/S/OP',
 'UR/NCC/OP',
 'UR/FF/OP',
 'OBC/NCC/OP',
 'UR/S/F',
 'UR/NCC/F',
 'OBC/H/F',
 'UR/FF/F']